<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
</head>
<body>
<div layout:fragment="content">
    <h1>受注表示</h1>
    <table class="table table-striped mt-4">
        <thead class="bg-primary text-white">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>customer.name</th>
            <th>created</th>
            <th>modified</th>
            <th scope="col" class="actions">edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${orders}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{customer.name}"></td>
            <td th:text="*{#dates.format(createdAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></td>
            <td th:text="*{#dates.format(modifiedAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></td>
            <td class="actions text-nowrap">
                <a th:href="@{/admin/orders/edit/{id}(id=*{id})}" class="btn btn-primary">編集</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h1>受注詳細</h1>
    <div>
        <a th:href="@{/admin/orderdetails/create/{id}(id=${orders.id})}" class="btn btn-primary">新規作成</a>
    </div>
    <table class="table table-striped mt-4">
        <thead class="bg-primary text-white">
        <tr>
            <th>id</th>
            <th>product.name</th>
            <th>product.price</th>
            <th>unit</th>
            <th>subtotal</th>
            <th>created</th>
            <th>modified</th>
            <th scope="col" class="actions">edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderDetail: ${orderDetails}" th:object="${orderDetail}">
            <td th:text="*{id}"></td>
            <td th:text="*{product.name}"></td>
            <td th:text="*{product.price}"></td>
            <td th:text="*{unit}"></td>
            <td th:text="*{product.price * unit}"></td>
            <td th:text="*{#dates.format(createdAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></td>
            <td th:text="*{#dates.format(modifiedAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></td>
            <td class="actions text-nowrap">
                <a th:href="@{/admin/orderdetails/edit/{id}(id=*{id})}" class="btn btn-primary">編集</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>